@import '../../global.scss';

.paperContainer{
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;

  .papertitle{
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    margin: 10px 0;
  }
  .author{
    margin-right: 0.3rem;
    font-style: italic;
    font-size: 0.8rem;
  }
  .abstract{

  }
  .metadata{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;

    .nonlink{
      display: flex;
      .year{
        margin-right: 10px;
      }
    }

    .url{
      text-decoration: none;
      font-size: 1rem;
      &:hover{
        text-decoration: underline;
      }
    }
  }


}
.selected{
  background-color: black;
  color: white;
  .papertitle{
    color: white;
  }
}