@import './global.scss';

$showLayout: true;

.layout{
  width: 100vw;
  height: 100vh;
  display: flex;
  @if($showLayout){
    border: 3px solid red;
    box-sizing: border-box;
  }


  .left{
    width: 20%;
    height: 100%;
    @if($showLayout){
      border: 1px solid green;
      box-sizing: border-box;
    }
  }

  .mid{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @if($showLayout){
      border: 1px solid blue;
      box-sizing: border-box;
    }
  }
  
  .right{
    width: 20%;
    height: 100%;
    @if($showLayout){
      border: 1px solid yellow;
      box-sizing: border-box;
    }
  }

}