@import './global.scss';

$showLayout: false;

body{
  margin:0 ;
}

.header{
  width: 100vw;
  height: 10vh;
  border-bottom: 1px solid $bordercolor;
  @if($showLayout){
    border: 3px solid red;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .projecttitle{
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
  .team{
    font-size: 0.8rem;
    margin: 0;
  }
}

.layout{
  width: 100vw;
  height: 90vh;
  display: flex;
  box-sizing: border-box;
  @if($showLayout){
    border: 3px solid red;
  }


  .left{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid $bordercolor;
    @if($showLayout){
      border: 1px solid green;
      box-sizing: border-box;
    }
  }

  .mid{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-right: 1px solid $bordercolor;
    @if($showLayout){
      border: 1px solid blue;
      box-sizing: border-box;
    }

    .midup{
      width: 100%;
      height: 50%;
      overflow: scroll;
      box-sizing: border-box;
      border-bottom: 1px solid $bordercolor;
    }
    .middown{
      width: 100%;
      height: 50%;
      overflow: scroll;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  
  .right{
    width: 30%;
    height: 100%;
    @if($showLayout){
      border: 1px solid yellow;
      box-sizing: border-box;
    }
  }

}